<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.akj.lotto">

    <application
        android:allowBackup="true"
        android:icon="@drawable/money"
        android:label="@string/app_name"
        android:roundIcon="@drawable/money"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!-- AppTheme.Constellation 테마지정 -->
        <activity
            android:name=".ConstellationActivity"
            android:theme="@style/AppTheme.Constellation" />
        <!-- AppTheme.Name 테마지정 -->
        <activity
            android:name=".NameActivity"
            android:theme="@style/AppTheme.Name" />
        <!-- AppTheme.Result 테마지정 -->
        <activity
            android:name=".ResultActivity"
            android:theme="@style/AppTheme.Result" />
        <activity android:name=".TestActivity" />
        <activity android:name=".AbsoluteActivity" />
        <activity android:name=".ConstraintLayoutActivity" />
    </application>
</manifest>